/* 
    Document   : player.css
    Created on : Dec 22, 2013, 5:50:44 PM
    Author     : Leonard
    Description:
        Purpose of the stylesheet follows.
*/

.focus-css{
    background-color: #00CC00;
}

.blur-css{
    background-color: #FFFFFF;
}
